<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>

  <body ng-app="LunchCheck">
  <div class="container" >
    <h1>Lunch Checker</h1>

    <div ng-controller="LunchCheckController">
      <div class="form-group">
        <h3>¿Qué irás a almorzar hoy?</h3>

        <input id="lunch-menu"
          type="text"
          placeholder="Ingresa cada platillo separado por comas"
          class="form-control"
          ng-model="launchList">
      </div>
      <div class="form-group">
        <button class="btn btn-default"
          ng-click="displayLaunchMessage()">
          Revisar la calidad del menú
        </button>
      </div>
      <div class="form-group message">
        {{launchMessage}}
      </div>
    </div>
  </div>
</body>
</html>
